h1 {
  text-shadow: 10px -10px 5px #171e22;
}

.friends {
  border-radius: 30px;
  box-shadow: inset 5px -5px 5px #171e22,
    inset -5px 5px 5px #35464e;
  padding: 50px;
  border-radius: 40px;
}

.friends li {
  background-color: #263238;
  border: none;
}

.friends li div {
  align-items: center;
}

.userRow {
  padding: 5px;
  display: flex;
}

.userRow:nth-child(2n) {
  background-color: #0000000f;
}

.friends button,
#addFriendsBtn {
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #171e22,
    -2px -2px 2px #263238;
}
